extends layout.pug

block body

	p No ads, video test

	.container
		.content
			.player-wrapper
				#player

block script
	script(type='text/javascript', src='dist/index.js')
	script(type='text/javascript').


		var conf = {
			key: 'YOUR-PLAYER-KEY',
			source: {
				title: 'Art of Motion',
				description: 'What is this event... Parcour?',
				dash: '//bitmovin-a.akamaihd.net/content/MI201109210084_1/mpds/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.mpd',
				hls: '//bitmovin-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8',
				progressive: '//bitmovin-a.akamaihd.net/content/MI201109210084_1/MI201109210084_mpeg-4_hd_high_1080p25_10mbits.mp4',
				poster: '//bitmovin-a.akamaihd.net/content/art-of-motion_drm/art-of-motion_poster.jpg',
				viewerId: 'uniqueViewerIdThatOverridesTheConvivaAnalyticsConfig', // Conviva viewerId
				contentId: 'uniqueContentId', // Conviva contentId (will be prefixed to the title)
			},
			playback: {},
			style: {},
			cast: {
				enable: true
			},
			logs: {
				//level: 'debug'
			},
			events: {}
		};



		var player = bitmovin.player('player');

		var comscore = new bitmovin.player.analytics.ComscoreAnalytics(player, {
			key: 'CUSTOMER_KEY',
			clientId: 'CLIENT_ID',
			debug: true,
			alternativeUri: 'http://localhost:9050/log',
			debugLoggingEnabled: true,
			gatewayUrl: 'https://youraccount-test.testonly.conviva.com', // TOUCHSTONE_SERVICE_URL for testing
			applicationName: 'Bitmovin Player Conviva Analytics Integration Test Page',
			viewerId: 'uniqueViewerId',
		});



		player.setup(conf).then(function() {
			console.log('player loaded');
		}, function(reason) {
			console.error('player setup failed');
			console.error(reason);
		});
