extends layout.pug

block body

    p No ads, video test

    .container
        .content
            .player-wrapper
                #player

block script
    script(type='text/javascript', src='dist/bitmovinplayer-analytics-comscore.js')
    script(type='text/javascript').

      var conf = {
        key: 'YOUR-PLAYER-KEY',
        logs: {
          //level: 'debug'
        }
      };

      var player = new bitmovin.player.Player(document.getElementById('player'), conf);

      var source = {
        title: 'Art of Motion',
        description: 'What is this event... Parcour?',
        dash: '//bitmovin-a.akamaihd.net/content/MI201109210084_1/mpds/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.mpd',
        hls: '//bitmovin-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8',
        progressive: '//bitmovin-a.akamaihd.net/content/MI201109210084_1/MI201109210084_mpeg-4_hd_high_1080p25_10mbits.mp4',
        poster: '//bitmovin-a.akamaihd.net/content/art-of-motion_drm/art-of-motion_poster.jpg',
      };

      player.load(source).then(function() {
        console.log('player loaded source');
      }, function(reason) {
        console.error('player load failed');
        console.error(reason);
      });

      var comscore = new bitmovin.player.analytics.ComscoreAnalytics(player, {
        key: 'CUSTOMER_KEY',
        clientId: 'CLIENT_ID',
        debug: true,
        alternativeUri: 'http://localhost:9050/log',
        debugLoggingEnabled: true,
        gatewayUrl: 'https://youraccount-test.testonly.conviva.com', // TOUCHSTONE_SERVICE_URL for testing
        applicationName: 'Bitmovin Player Conviva Analytics Integration Test Page',
        viewerId: 'uniqueViewerId',
      });

