nav
	ul
		li
			a(href='/', title='Home') Home
		li
			a(href='/vast1', title='VAST 1') Vast1 Test
		li
			a(href='/test', title='Test') No analytics
		li
			a(href='/noads', title='No Ads') No ads
		li
			a(href='#', title='Test4') -----
